@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro";
  overflow: hidden;
}
body {
  font-size: 10px;
  background-color: #b40a30;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav img {
  margin-right: 200px;
  margin-top: 30px;
  height: 40px;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-right: px;
}
nav ul li a {
  padding: 20px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  opacity: 0.6;
}
.hero {
  display: grid;
  align-items: center;
  grid-template-columns: 400px 1fr;
  margin-left: 100px;
}
.hero-container {
  font-size: 18px;
  margin-top: 100px;
  font-weight: 400;
}
.nike {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 900;
}
p {
  font-size: 15px;
}
.btn {
  margin-top: 30px;
  padding: 10px 30px 10px 30px;
  background-color: #da4d54;
  border: none;
  border-radius: 15px;
  color: white;
  width: 150px;
  font-weight: 600;
  height: 40px;
  cursor: pointer;
}
.btn:hover {
  background-color: #f07a6d;
  font-weight: 900;
}
.main-image {
  margin-left: 60px;
  margin-top: 50px;
}
.social-media {
  margin-top: 80px;
}
.social-media a {
  padding: 3px;
}
.social-media i {
  font-size: 25px;
  border: 2px solid #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50%;
  color: white;
}

.social-media i:hover {
  background: #f07a6d;
  color: #fff;
  transform: translateY(2px);
}
